<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Разметка текста</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/text_markup.css' %}" />
</head>
<body>

    <div class="menu">
        <form method="get" action="">
            <label for="markup">Вид:</label>
            <select name="markup" id="markup" onchange="this.form.submit();">
                <option value="tagtext" {% if selected_markup == 'tagtext' %}selected{% endif %}>Части речи (Основная)</option>
                <option value="tagtextrussian" {% if selected_markup == 'tagtextrussian' %}selected{% endif %}>Части речи (На русском)</option>
                <option value="tagtextabbrev" {% if selected_markup == 'tagtextabbrev' %}selected{% endif %}>Аббревиатуры части речи</option>
                <option value="plain" {% if selected_markup == 'plain' %}selected{% endif %}>Без разметки</option>
            </select>
        </form>
    </div>
    
    <div class="text-header">
        <h1 class="text-title">{{ text.header }}</h1>
    </div>

    <div class="watch-text">
        {% for sentence in text.sentence_set.all %}
            <div class="sentence">
                <p class="sentence-number">{{ forloop.counter }}:</p>
                <div class="tokens-container">
                {% for token in sentence.tokens.all %}
                    <span class="token">
                        
                        {% if token.idpostag %}
                            <span class="abbr" style="background-color: {{ token.idpostag.tagcolor }};">
                                {% if selected_markup == 'tagtext' %}
                                    {{ token.idpostag.tagtext }}
                                {% elif selected_markup == 'tagtextrussian' %}
                                    {{ token.idpostag.tagtextrussian }}
                                {% elif selected_markup == 'tagtextabbrev' %}
                                    {{ token.idpostag.tagtextabbrev }}
                                {% endif %}
                            </span>
                        {% elif selected_markup != 'plain' %}
                            <span class="no-abbr">&nbsp;</span> 
                        {% endif %}

                            <span class="word">{{ token.tokentext }}</span>

                    </span>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const markupSelect = document.getElementById('markup');

            function toggleAbbrVisibility() {
                const abbrElements = document.querySelectorAll('.abbr');
                if (markupSelect.value === 'plain') {
                    abbrElements.forEach(el => el.style.display = 'none');
                } else {
                    abbrElements.forEach(el => el.style.display = 'flex');
                }
            }

            // Вызвать функцию при загрузке страницы
            toggleAbbrVisibility();

            // Добавить слушатель для изменения значения в селекте
            markupSelect.addEventListener('change', toggleAbbrVisibility);
        });
    </script>


</body>
</html>