<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Разметка текста</title>
    <link href="{%static 'css/text_markup.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="menu">
        <form method="get" action="">
            <label for="markup">Выберите разметку:</label>
            <select name="markup" id="markup" onchange="this.form.submit()">
                <option value="all" {% if selected_markup == 'all' %}selected{% endif %}>Все разметки</option>
                <option value="pos" {% if selected_markup == 'pos' %}selected{% endif %}>Только части речи</option>
            </select>
        </form>
    </div>
    
    <h1>{{ text.header }}</h1>
    <p>{{ text.text }}</p>
    
    <div>
        {% for sentence in text.sentence_set.all %}
            <div class="sentence">
                <p><strong>Предложение {{ sentence.ordernumber }}:</strong></p>
                {% for token in sentence.tokens.all %}
                    <span class="token {% if token.idpostag %}pos{% endif %}" postag-tagtext="{{ token.idpostag.tagtext }}" 
                            postag-tagtextrussian="{{ token.idpostag.tagtextrussian }}" postag-tagtextabbrev="{{ token.idpostag.tagtextabbrev }}">
                        {{ token.tokentext }}
                        <!-- {% if token.idpostag %}
                            <span class="postag-tagtext">({{ token.idpostag.tagtext }})</span>
                            <span class="postag-tagtextrussian">({{ token.idpostag.tagtextrussian }})</span>
                            <span class="postag-tagtextabbrev">({{ token.idpostag.tagtextabbrev }})</span>
                        {% endif %} -->
                    </span>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
